
* {
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    height: 8vh;

}

body {
    background-color: #e1e1e1;;
    width: 100%;
    height: 100vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 3px;
    background: #ffffff;
    margin: 8px;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 35vw;
        height: 85vh;
        background: #000000;
        opacity: 0.8;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
    }

    mobile-menu li {
        margin-left: 0;
        opacity: 0;
        
    }

     .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0%);

}

@keyframes navLinkFade { 
    from { 
        opacity: 0;
        transform: translateX(50px);
    } to { 
        opacity: 1;
        transform: translateX(0);
    }

}

.container_maior {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e1e1e1;
    padding: 1.5rem;
    width: 100%;
}

.card_demasia { /*A ÁREA DO TITULO */
    display: flex;
    height: 6rem;
}

.welcome {
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-family: "Raleway", sans-serif;;
    color:rgba(0, 0, 0, 0.836);
}

h4::after{
    content: '';
    width: 100%;
    max-width: 600px;
    height: 1px;
    background-color: #000000;
    display: block;
    margin-top: 0.5rem;
}



.cookies-msg { 
    width: 70%;
    background-color: #ffffff;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    display: none;
    }

    .cookies-msg.mostrar {
        display: block;
        animation: slideIn 0.5s forwards;
        
        }


.cookies-msg .cookies-txt { 
display: flex;
    align-items: center;
    text-align: justify;
    padding: 20px;
} 
.cookies-msg .cookies-btn{ 
    margin-left: 30px;

}
button{ 
    background-color : #000000e3;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    margin-left: 20px;
    padding: 10px 40px;
    cursor: pointer;
    transition: .3s;
}
button:hover {
transform: scale(0.95);
}
